html,
body {
	background-color:#F5F5F5;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:18px;
	color: #616161;
}

.page{
	background-color:#fff;
	box-shadow:0px 0px 8px rgba(0,0,0,.5);
}

.header{
	margin-left:100px;
	margin-right:100px;
}

.header .logo{
	margin-top:20px;
	margin-bottom:20px;
	height:60px;
	opacity:.75;
}

.header .header-links{
	padding-top:40px;
	padding-bottom:40px;
	text-align:right;
}

.header .header-links .item{
	margin-left:20px;
}
.header .header-links .item:first-child{
	margin-left:0px;
}

.content-title{
	font-size:48px;
	margin-bottom:30px;
	padding-left:100px;
	padding-right:100px;
	padding-top:40px;
	border-top:1px solid #E0E0E0;
	text-align:center;
}

.content-subtext{
	font-size:31px;
	padding-left:100px;
	padding-right:100px;
	text-align:center;
	position: relative;
	top: -30px;
}

.content{
	margin-left:100px;
	margin-right:100px;
}

.extra-stuff{
	margin-top:40px;
	padding-top:20px;
	padding-bottom:40px;
	border-top:1px solid #E0E0E0;
}

.extra-stuff .logo-container{
	padding:25px;
	padding-bottom: 10px;
	text-align:center;
}
.extra-stuff .logo{
	height:80px;
	text-align:center;
	opacity:.95;
	position: relative;
	left: -3px;
}

.extra-stuff .social-media {
	text-align:center;
	opacity:.70;
}

.extra-stuff .social-media a {
	text-align:center;
	text-decoration: none;
}

.extra-stuff .download-links{
	padding:30px;
	top: 17px;
	position: relative;
}

.footer{
	padding-top:50px;
	padding-bottom:50px;
}
.footer .copyright{
	float:left;
}
.footer .footer-links{
	text-align:right;
}
.footer .footer-links .link{
	margin-left:20px;
}

.screenshots{
	margin-top:50px;
	text-align:center;
}
.screenshots .img-container{
	width:420px;
	height:235px;
	display:inline-block;
	overflow:hidden;
	margin:10px;
	box-shadow:0px 0px 8px rgba(0,0,0,.5);
}
.screenshots img{
	width:100%;
}
.screenshots img:hover{
	cursor:pointer;
}
.big-image{
	overflow:hidden;
	text-align:center;
}
.big-image img{
	max-width:100%;
	max-height:100%;
}

@media only screen and (max-width : 992px) {
	.header{
		margin-left:25px;
		margin-right:25px;
	}
	.header .logo-container{
		text-align:center;
	}
	.header .header-links{
		text-align:center;
	}
	.content{
		margin-left:25px;
		margin-right:25px;
	}
	.download-links{
		text-align:center;
	}
	.screenshots .img-container{
		width:260px;
		height:150px;
	}
}
