html,
body {
	background-color:#F5F5F5;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:18px;
	color: #616161;
}

/*
@g50:#FAFAFA;
@g100:#F5F5F5;
@g200:#EEEEEE;
@g300:#E0E0E0;
@g400:#BDBDBD;
@g500:#9E9E9E;
@g600:#757575;
@g700:#616161;
@g800:#424242;
@g900:#212121;
*/

.page{
	background-color:#fff;
	box-shadow:0px 0px 8px rgba(0,0,0,.5);
}

.header{
	margin-left:100px;
	margin-right:100px;
	/*box-shadow:0px 4px 4px -4px rgba(0,0,0,.5);*/
}

.header .logo{
	margin-top:20px;
	margin-bottom:20px;
	height:60px;
	margin-left:40px;
	opacity:.75;
}

.header .header-links{
	padding-top:40px;
	text-align:right;
}

.header .header-links .item{
	margin-left:20px;
}

.content-title{
	font-size:48px;
	margin-bottom:40px;
	padding-left:100px;
	padding-right:100px;
	padding-top:40px;
	border-top:1px solid #E0E0E0;
	text-align:center;
}

.content{
	margin-left:100px;
	margin-right:100px;
}

.extra-stuff{
	margin-top:40px;
	padding-top:20px;
	padding-bottom:40px;
	border-top:1px solid #E0E0E0;
}

.extra-stuff .logo-container{
	padding:25px;
	text-align:center;
}
.extra-stuff .logo{
	height:80px;;
	text-align:center;
}

.extra-stuff .download-links{
	padding:30px;
}

.extra-stuff .link{
}

.footer{
	padding:50px;
}
.footer .copyright{
	float:left;
}
.footer .footer-links{
	text-align:right;
}
.footer .footer-links .link{
	margin-left:20px;
}
