.row
    .col-xs-12
        #footer
            .row
                .col-md-2.col-md-offset-1
                    %img{:src=>"lib/assets/sia.svg",:height=>"50",:style=>"opacity:.5;"}
                .col-md-8
                    .link-list
                        .item Overview
                        .item Money
                        .item Files
                        .item Mining
                        .item Hosting
                        .item About
                        .item Help
