#header
    .container
        .row
            #logo-container.col-xs-6
                Sia Web Interface
            #button-container.col-xs-6
                #balance-button.header-button $4.60010
                #balance-button.header-button +&micro;10.15
                .header-button
                    %i.fa.fa-question
