#sidebar.col-md-3
    .large-sidebar.hidden-xs.hidden-sm
        .item.overview-button.current
            %i.fa.fa-bars.fa-fw
            .text Overview
        .item.money-button
            %i.fa.fa-dollar.fa-fw
            .text Money
        .item.files-button
            %i.fa.fa-file.fa-fw
            .text Files
        .item.mining-button
            %i.fa.fa-area-chart.fa-fw
            .text Mining
        .item.hosting-button
            %i.fa.fa-folder-o.fa-fw
            .text Hosting
        .item.network-button
            %i.fa.fa-group.fa-fw
            .text Network
        .item.about-button
            %i.fa.fa-info.fa-fw
            .text About
        -# .item.help-button
        -#     %i.fa.fa-question-circle.fa-fw
        -#     .text Help
    .small-sidebar.visible-xs.visible-sm
        .item.overview-button.current
            %i.fa.fa-bars.fa-fw
            .text Overview
        .item.money-button
            %i.fa.fa-dollar.fa-fw
            .text Money
        .item.files-button
            %i.fa.fa-file.fa-fw
            .text Files
        .item.mining-button
            %i.fa.fa-area-chart.fa-fw
            .text Mining
        .item.hosting-button
            %i.fa.fa-folder-o.fa-fw
            .text Hosting
        .item.network-button
            %i.fa.fa-group.fa-fw
            .text Network
        .item.about-button
            %i.fa.fa-info.fa-fw
            .text About
