#files
    .header
        .title File Manager
        .info
            .space 12.2 GB
            .cost 0.122 &micro;SC/h
            .costusd &asymp; 0.001 &micro;USD/h
    .cloud-control
        .row
            .col-xs-6
                .button.upload-public
                    %i.fa.fa-upload
                    Upload File
            .col-xs-6
                .search
                    &nbsp;
                    %i.fa.fa-search
    -# .upload-pane
    -#     .path
    -#         .stop
    -#             %i.fa.fa-close
    -#         .text
    -#             %i.fa.fa-edit
    -#             example1.txt
    -#         .meta
    -#             1.2 MB - 0.0122 SC/h
    -#     .upload.button
    -#         %i.fa.fa-upload
    -#         Upload
    -#     .public.button
    -#         %i.fa.fa-check-square
    -#         Public
    -#     .account.button
    -#         %i.fa.fa-sign-out
    -#         Grocery Store Account
    -# .info-pane
    -#     .name example2.txt
    -#     .visibility Public
    -#     .size 1.2 MB
    -#     .cost 0.0122 SC/h
    -#     .button.delete
    -#         %i.fa.fa-close
    -#         Delete
    -#     .button.update
    -#         %i.fa.fa-refresh
    -#         Update
    -#     .button.download
    -#         %i.fa.fa-download
    -#         Download
    .file-browser
        -# .file
        -#     .graphic
        -#         %i.fa.fa-folder-open
        -#     .name exampledir1
        -# .file
        -#     .graphic
        -#         %i.fa.fa-folder-open
        -#     .name exampledir2
        -# .file
        -#     .graphic
        -#         %i.fa.fa-folder-open
        -#     .name exampledir3
        -# .file
        -#     .graphic
        -#         %i.fa.fa-folder-open
        -#     .name exampledir4
        -# .file
        -#     .graphic
        -#         %i.fa.fa-file
        -#     .name example3.txt
        -# .file
        -#     .graphic
        -#         %i.fa.fa-file-excel-o
        -#     .name example4.txt
        -# .file
        -#     .graphic
        -#         %i.fa.fa-file-text
        -#     .name example5.txt
        -# .file
        -#     .graphic
        -#         %i.fa.fa-file-text
        -#     .name example5.txt
        -# .file
        -#     .graphic
        -#         %i.fa.fa-file-archive-o
        -#     .name example6.txt
        -# .file
        -#     .graphic
        -#         %i.fa.fa-file
        -#     .name example7.txt
        -# .file
        -#     .graphic
        -#         %i.fa.fa-file-movie-o
        -#     .name example8.txt
        -# .file
        -#     .graphic
        -#         %i.fa.fa-file-text
        -#     .name example5.txt
