#hosting
    .header
        .title Host Management
        .capsule
            .pod
                34 / 64 GB
            .pod
                4.3 SC/h
            .pod
                2 Contracts
            .pod
                Hosting
    .host-config
        .title
            .text Configure Hosting
            .capsule
                .pod
                    Presets
                .pod.button 16 GB
                .pod.button 32 GB
                .pod.button 64 GB
        .property
            .row
                .col-xs-4
                    .name Property Name
                .col-xs-8
                    .value{:contentEditable=>:true} 0
        .property
            .row
                .col-xs-4
                    .name Property Name
                .col-xs-8
                    .value 0
        .property
            .row
                .col-xs-4
                    .name Property Name
                .col-xs-8
                    .value 0
        .property
            .row
                .col-xs-4
                    .name Property Name
                .col-xs-8
                    .value 0
        .property
            .row
                .col-xs-4
                    .name Property Name
                .col-xs-8
                    .value 0
        .property
            .row
                .col-xs-4
                    .name Property Name
                .col-xs-8
                    .value 0
        .property
            .row
                .col-xs-4
                    .name Property Name
                .col-xs-8
                    .value 0
        .control
            .button
                %i.fa.fa-refresh
                Reset
            .button
                %i.fa.fa-save
                Save
