#hosting
    .header
        .title Host Management
        .capsule
            .pod
                34 / 64 GB
            .pod
                4.3 SC/h
            .pod
                2 Contracts
            .pod
                Hosting
    .host-config
        .title
            .text Configure Hosting
            .capsule
                .pod
                    Presets
                .pod.button.preset1 16 GB
                .pod.button.preset2 32 GB
                .pod.button.preset3 64 GB
        .properties
            .property.blueprint
                .row
                    .col-xs-4
                        .name Property Name
                    .col-xs-8
                        .value{:contentEditable=>:true} 0
        .control
            .warning
                Warning: Changing hosting configuration values frequently will reduce client selections
            .button.reset
                %i.fa.fa-refresh
                Reset
            .button.save
                %i.fa.fa-save
                Save
