#manage-account
    .row.header
        #back-to-money.button
            %i.fa.fa-chevron-left
        .text Manage Account
        .account-name Grocery Store Account
    .sumdisplay
        Balance
        .amt 4.60010 SC
        .amtusd &asymp; 9.60 USD
        .fund-buttons
            .button.add-funds
                %i.fa.fa-sign-in.fa-fw
                Add Funds
            .button.withdraw
                %i.fa.fa-sign-out.fa-fw
                Withdraw
    .row
        .col-xs-7
            .addresses
                .title
                    Addresses
                    .dropdown-button
                        %i.fa.fa-chevron-down
                .items
                    .item.blueprint
                        .address 3J98t1WpEZ73CNmQviecrnyiWrnqRhWNLy
                        .amt $0.301
        .col-xs-5
            .transactions
                .title
                    Transactions
                    .dropdown-button
                        %i.fa.fa-chevron-down
                .items
                    .item.blueprint
                        .date 01/02/2015
                        .amt
                            $2.67
                        .icon
                            %i.fa.fa-arrow-right
    .row.account-control-buttons
        .button.create-address
            %i.fa.fa-plus.fa-fw
            Create Address
        .button.send-money
            %i.fa.fa-send.fa-fw
            Send Money
        .button.transfer-funds
            %i.fa.fa-exchange.fa-fw
            Transfer Funds
        .button.delete-account
            %i.fa.fa-remove.fa-fw
            Delete Account
