#mining
    .header
        .title Mining
        .capsule
            .pod.button.mining-status Mining
            .pod.income-rate 0.122 SC/h
            .pod.active-miners 3 Active Miners
    .graph-controls
        .button Past Hour
        .button Today
        .button Past Week
        .button Past Month
        .button Past Year
    .graph-container
        %canvas
    .miner-control
        .display
            .number 3
            .text Active Miner Threads
        .button.add-miner
            %i.fa.fa-plus.fa-fw
            Add Miner
        .button.remove-miner
            %i.fa.fa-minus.fa-fw
            Remove Miner
        .button.stop-mining
            %i.fa.fa-remove.fa-fw
            Stop Mining
