#mining
    .header
        .title Mining
        .capsule
            .pod.button Mining
            .pod 0.122 SC/h
            .pod 3 Active Miners
    .graph-controls
        .button Past Hour
        .button Today
        .button Past Week
        .button Past Month
        .button Past Year
    .graph-container
        %canvas
    .miner-control
        .display
            .number 3
            .text Active Miner Threads
        .button
            %i.fa.fa-plus.fa-fw
            Add Miner
        .button
            %i.fa.fa-minus.fa-fw
            Remove Miner
        .button
            %i.fa.fa-remove.fa-fw
            Stop Mining
