#money
    .sumdisplay.header
        Balance
        .amt 4.60010 SC
        .amtusd &asymp; 9.60 USD
        .fund-buttons
            .button.add-funds
                %i.fa.fa-sign-in.fa-fw
                Add Funds
            .button.withdraw
                %i.fa.fa-sign-out.fa-fw
                Withdraw
    .row
        .col-xs-12
            .row.subhead
                .col-xs-6
                    .text Accounts
                .col-xs-6
                    .search
                        &nbsp;
                        %i.fa.fa-search
            .accounts
                .item.blueprint
                    .name Grocery Store Account
                    .money $4.05
            .address-control
                .button.add-account
                    %i.fa.fa-plus.fa-fw
                    Add Account
                .button.send-account
                    %i.fa.fa-send.fa-fw
                    Send Money
                .button.transfer-funds
                    %i.fa.fa-exchange.fa-fw
                    Transfer Funds
                .button.delete-account
                    %i.fa.fa-remove.fa-fw
                    Delete Account
