#money
    .sumdisplay.header
        Balance
        .amt 4.60010 SC
        .amtusd &asymp; 9.60 USD
        .fund-buttons
            .button
                %i.fa.fa-sign-in.fa-fw
                Add Funds
            .button
                %i.fa.fa-sign-out.fa-fw
                Withdraw
    .row
        .col-xs-12
            .row.subhead
                .col-xs-6
                    .text Accounts
                .col-xs-6
                    .search
                        &nbsp;
                        %i.fa.fa-search
            .accounts
                .item
                    .name Grocery Store Account
                    .money $4.05
                .item
                    .name Checking Account
                    .money $5.06
                .item
                    .name Savings Account
                    .money $102.05
                .item
                    .name Other Random Account
                    .money $0.32
                .item
                    .name Other Random Account
                    .money $0.68
                .item
                    .name Other Random Account
                    .money $0.18
                .item
                    .name Other Random Account
                    .money $0.19
            .address-control
                .button
                    %i.fa.fa-plus.fa-fw
                    Add Account
                .button
                    %i.fa.fa-send.fa-fw
                    Send Money
                .button
                    %i.fa.fa-exchange.fa-fw
                    Transfer Funds
                .button
                    %i.fa.fa-remove.fa-fw
                    Delete Account
