#network
    .header
        .title Network Manager
    .peer-table
        .items
            .item.blueprint
                %i.fa.fa-user.peer-icon
                .value
                    %i.fa.fa-pencil-square.icon
                    192.168.1.19:9950
                %i.fa.fa-times.cancel
        .control
            .button.add-peer
                %i.fa.fa-plus
                Add Peer
            .button.apply
                %i.fa.fa-refresh
                Apply
