#overview
    .header
        .title Overview
        .capsule
            .pod.balance
                123.43249 SC
            .pod.blockheight
                123
    .subhead
        .welcome
            .large Welcome to Sia
            .small A highly efficient decentralized storage network.
