#overview
    .header
        .title Dashboard
        .capsule
            .mining-status.pod.button.enabled Mining On
            .hosting-status.pod.button.disabled Hosting Off
    .subhead
        .sumdisplay
            Balance
            .amt 4.60010 SC
            .amtusd &asymp; 9.60 USD
            .fund-buttons
                .add-funds.button
                    %i.fa.fa-sign-in.fa-fw
                    Add Funds
                .withdraw-funds.button
                    %i.fa.fa-sign-out.fa-fw
                    Withdraw
