#transfer-funds
    .header
        .title Transfer Funds
    .row
        .col-xs-6
            .from-column
                .subhead
                    Transferring from Savings
                .account
                    .current-balance 32.001 SC
                    .transfer-amt 2.142 SC
                    .final-balance 28.859 SC
        .col-xs-6
            .to-column
                .subhead
                    Transferring to <b>Address</b>
                .address
                    Address:
                    .input
