#transfer-funds
    .header
        .title Transfer Funds
    .row
        .col-xs-6
            .from-column
                .subhead
                    Transferring from Savings
                    %i.fa.fa-sign-out
                .account
                    .eqn.current-balance
                        .text Balance
                        .unit SC
                        .amt.current-balance 32.001
                    .eqn.transfer-amt
                        .text Transfer
                        .unit SC
                        .amt.input.field-transfer-amt
                            %i.icon.fa.fa-pencil
                            2.142
                    .eqn.final-balance
                        .text Final Balance
                        .unit SC
                        .amt.input.field-final-balance
                            %i.icon.fa.fa-pencil
                            28.859
        .col-xs-6.right-column
            .to-column
                .subhead
                    %i.fa.fa-sign-in
                    Transferring to Address
                .address
                    .eqn
                        .text SC Address
                        .amt.input.field-address
                            %i.icon.fa.fa-pencil
