#transfer-funds
    .header
        .title Transfer Funds
    .row
        .col-xs-6
            .from-column
                .subhead
                    Transferring from Savings
                    %i.fa.fa-sign-out
                .account
                    .eqn.current-balance
                        .text Balance
                        .unit SC
                        .amt 32.001
                    .eqn.transfer-amt
                        .text Transfer
                        .unit SC
                        .amt.input 2.142
                        %i.icon.fa.fa-pencil
                    .eqn.final-balance
                        .text Final Balance
                        .unit SC
                        .amt.input 28.859
                        %i.icon.fa.fa-pencil
        .col-xs-6.right-column
            .to-column
                .subhead
                    %i.fa.fa-sign-in
                    Transferring to Address
                .address
                    .eqn
                        .text SC Address
                        .amt.input &nbsp;
