#transfer-funds
    .header
        .back.button
            %i.fa.fa-chevron-left
        .title Transfer Funds
    .row
        .col-xs-6
            .from-column
                .subhead
                    %i.fa.fa-sign-out
                    Transferring from Savings
                .account
                    .eqn.current-balance
                        .text Balance
                        .unit SC
                        .amt 32.001&nbsp;
                    .eqn.transfer-amt
                        .text Transfer
                        .unit SC
                        .amt.input.field-transfer
                            %i.icon.fa.fa-pencil
                            2.142
                    .eqn.final-balance
                        .text Final Balance
                        .unit SC
                        .amt.input.field-final-balance
                            %i.icon.fa.fa-pencil
                            28.859
        .col-xs-6.right-column
            .to-column
                .subhead
                    %i.fa.fa-sign-in
                    Transferring to Address
                .address
                    .eqn
                        .text.address-title SC Address
                        .amt.input.field-address
                            %i.icon.fa.fa-pencil
    .control
        .summary
            Transferring
            .amt 2.142 SC
            from
            .from Savings Account
            to
            .to 0cc175bd71c7...
        .button.send-money
            %i.fa.fa-send
            Send Funds
