#upload-file
    .header
        .back.button
            %i.fa.fa-chevron-left
        .title
            Upload File
    -# TODO: Abstract away the data-url
    .inputs
        <input id="fileupload" type="file" name="file" data-url="/file/upload">
        .filenames
        %input.description-field{:placeholder=>"File Nickname"}
        .button.upload Upload
